<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div id="vue-app">
  <div>
    <contact-list :all-contacts="contacts"></contact-list>
    <contact-form :contacts="contacts"></contact-form>
  </div>
</div>

<template id="contact-list-template">
  <div>
    <h1>Contacts</h1>
    <ul>
      <contact-item v-for="item in displayContacts" :contact="item"></contact-item>
    </ul>
  </div>
</template>

<template id="contact-item-template">
  <li>
    <h2><% contact.name %></h2>
    <a :href="mailto"><% contact.email %></a>
    <div><% contact.description %></div>
  </li>
</template>

<template id="contact-form-template">
  <form>
    <div class="row">
      <input class="six columns" type="text" placeholder="Name" v-model=newContact.name>
      <input class="six columns" type="text" placeholder="E-mail" v-model=newContact.email>
      <textarea class="u-full-width" placeholder="Description" v-model=newContact.description></textarea>
      <button class="u-full-width" type="button" @click="addContact">Add Contact</button>
    </div>
  </form>
</template>

<script>
var dbg = (x => {console.log(x); return x})
var contacts = [
  { name: 'Alan Abbotson', email: 'a@a.a', description: 'Front-end Unicorn' },
  { name: 'Betsy Bobson', email: 'b@b.b' },
  { name: 'Cara Carrotson' }
]

Vue.component('contact-list', {
  template: document.getElementById('contact-list-template').innerHTML,
  props: ['allContacts'],
  computed: {
    displayContacts: function() {
      return _.filter(this.allContacts, 'email')
    }
  },
  delimiters: ['<%', '%>']
})
Vue.component('contact-item', {
  template: document.getElementById('contact-item-template').innerHTML,
  props: ['contact'],
  computed: {
    mailto: function() {
      return 'mailto:' + this.contact.email
    }
  },
  delimiters: ['<%', '%>']
})
Vue.component('contact-form', {
  template: document.getElementById('contact-form-template').innerHTML,
  props: ['contacts'],
  data: () => ({
    newContact: { name: '', email: '', description: '' }
  }),
  methods: {
    addContact: function() {
      this.contacts.push(this.newContact)
      this.newContact = { name: '', email: '', description: '' }
    }
  },
  delimiters: ['<%', '%>']
})

var app = new Vue({
  el: '#vue-app',
  data: { contacts },
  delimiters: ['<%', '%>']
})
</script>
