<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div id="react-app"></div>
<script>
  var contacts = [
    { key: 1, name: 'Alan Abbotson', email: 'a@a.a', description: 'Front-end Unicorn' },
    { key: 2, name: 'Betsy Bobson', email: 'b@b.b' },
    { key: 3, name: 'Cara Carrotson' }
  ]

  fullRender({ contacts })
</script>
