<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/g/lodash@4.17.4(lodash.fp.min.js+lodash.min.js)"></script>
    <script src='/js/main.js'></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
