<div class="container">
  <div class="row">
    <div class="hand theirs" data-area-name="their-hand"></div>
  </div>
  <div class="row">
    <div class="trick" data-area-name="trick"></div>
  </div>
  <div class="row">
    <div class="hand mine" data-area-name="my-hand"></div>
  </div>
</div>
